html
	head
		meta(charset = 'utf-8')
		title log in
		script(src = '/js/jquery-3.2.1.js')
		script(src = '/js/login.js')
		link(rel = 'stylesheet' href = '/stylesheet/login.css')
	body
		div#failbox
		div#main-container
			h1 LOG IN PAGE
			form(method = 'post' id = 'signform' onsubmit = 'return false;')
				p username: 
				input(name='username' id = 'username_')
				br
				p password:
				input(name = 'password' id = 'password_'  type = 'password')
				br
				input(type = 'submit' id = 'sub' value = 'LOGIN')
				input(type = 'button' id = 'regist' value = 'GO TO REGIST')